$def with(listaprevisao, estado, nameAux)
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
    <head>
        <title>Suíte de aplicativos CA2JU</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="../static/src/img/_favicon.png"/>
        <link rel="stylesheet" type="text/css" href="../static/src/estilo_acelerado.css">
        <script type="text/javascript" language="javascript" src="./static/src/jquery.js"></script>
        <script type="text/javascript" src="./static/src/jquery.min.js"></script>
        <script type="text/javascript" src="./static/src/jquery.timer.js"></script>
		<script type="text/javascript" src="./static/src/previsor2.js" DEFER="DEFER" charset="UTF-8"></script>
        <script type="text/javascript" id ="./static/src/sprincipal" >
			function eventoCelula1 () {			
				window.location = "acelerado";							
			}
			function eventoCelula2 () {			
				window.location = "ilustrado";
			}
			function click(){
				if (event.button==0){
					// Aqui entra o código quando clica com o esquerdo
					pause();
				}
				if (event.button==2||event.button==3){
					// Aqui entra o código quando clica com o direito
				}
			}
			window.captureEvents(Event.CLICK);
			document.onmousedown=click;
		</script>
    </head>
    <body>
   	<div id='pagina' onclick="click();">
    	  <header>
          <div id="logo">
            <ul>
              <a href="index"><li id="e10"><img id="logo" src="../static/src/img/_logo.png" width="20" height="25" />CA2JU</li></a>
              <img id="beta" src="../static/src/img/_fig_beta.png" width="30" height="18" />
            </ul>
          </div>
          <nav id="menu">
                <ul>
                     <a href="acelerado"><li id="e1" onClick='eventoCelula1()'><img id="img_prev" src="../static/src/img/_fig_previsao.png" width="15" height="15" />CA2JU Acelerado</li></a>
                     <a href="ilustrado"><li id="e2" onClick='eventoCelula2()'><img id="img_ilus" src="../static/src/img/_fig_ilustrado.png" width="10" height="20" />CA2JU Ilustrado</li></a>
                </ul>
                <img id="img_texto" src="../static/src/img/_fig_texto.png" width="25" height="25" />
                <div id='area_texto'>
            		<input name="caixa1" type='text' id='caixa1' size='110' value='$nameAux' />
            	</div>
          </nav>
          </header>
          <div id='corpo' align="center">
          <div id='lista_previsao'>
          	<div class="colunas" id="col1">
              <input name="p1" type="text" class="palavras" id="p1" value="$listaprevisao[1]" readonly="readonly" />
              <input name="p4" type="text" class="palavras" id="p4" value="$listaprevisao[2]" readonly="readonly" />
              <input name="p7" type="text" class="palavras" id="p7" value="$listaprevisao[3]" readonly="readonly" />
            </div>
            <div class="colunas" id="col2">
              <input name="p2" type="text" class="palavras" id="p2" value="$listaprevisao[4]" readonly="readonly" />
              <input name="p5" type="text" class="palavras" id="p5" value="$listaprevisao[5]" readonly="readonly" />
              <input name="p8" type="text" class="palavras" id="p8" value="$listaprevisao[6]" readonly="readonly" />
            </div>
           <div class="colunas" id="col3">
       	     <input name="p3" type="text" class="palavras" id="p3" value="$listaprevisao[7]" readonly="readonly" />
             <input name="p6" type="text" class="palavras" id="p6" value="$listaprevisao[8]" readonly="readonly" />
             <input name="p9" type="text" class="palavras" id="p9" value="$listaprevisao[9]" readonly="readonly" />
           </div>
           <input name="p10" type="text" id="p10" value="Voltar ao Teclado" readonly="readonly" />
           <input name="estado007" type='text' id='estado007' value='$estado' size='87' />
          </div>
          <div id="barra1"></div>
          <div id="simbolos_ou_previsao">
          	<textarea name="conteudo" cols="90" rows="8" readonly="readonly" id="conteudo"></textarea>
 	      </div>
          <div id="barra2"></div>
          </div>
          <div id="teclado_container">
            <div id="teclado">
              <button id="b1" class="botao">1</button>
                <button id="b2" class="botao">2</button>
                <button id="b3" class="botao">3</button>
                <button id="b4" class="botao">4</button>
                <button id="b5" class="botao">5</button>
                <button id="b26" class="botao">6</button>
                <button id="b27" class="botao">7</button>
                <button id="b28" class="botao">8</button>
                <button id="b29" class="botao">9</button>
                <button id="b30" class="botao">0</button>
            	<br>
                <button id="b6" class="botao">Q</button>
                <button id="b7" class="botao">W</button>
                <button id="b8" class="botao">E</button>
                <button id="b9" class="botao">R</button>
                <button id="b10" class="botao">T</button>
                <button id="b31" class="botao">Y</button>
                <button id="b32" class="botao">U</button>
                <button id="b33" class="botao">I</button>
                <button id="b34" class="botao">O</button>
                <button id="b35" class="botao">P</button>
                <br>
                <button id="b11" class="botao">A</button>
                <button id="b12" class="botao">S</button>
                <button id="b13" class="botao">D</button>
                <button id="b14" class="botao">F</button>
                <button id="b15" class="botao">G</button>
                <button id="b36" class="botao">H</button>
                <button id="b37" class="botao">J</button>
                <button id="b38" class="botao">K</button>
                <button id="b39" class="botao">L</button>
                <button id="b40" class="botao">Ç</button>
            	<br>
                <button id="b16" class="botao">Z</button>
                <button id="b17" class="botao">X</button>
                <button id="b18" class="botao">C</button>
                <button id="b19" class="botao">V</button>
                <button id="b20" class="botao">B</button>
                <button id="b41" class="botao">N</button>
                <button id="b42" class="botao">M</button>
                <button id="b43" class="botao"><</button>
                <button id="b44" class="botao">></button>
                <button id="b45" class="botao">,</button>
            	<br>
                <button id="b21" class="botao">(</button>
                <button id="b22" class="botao">)</button>
                <button id="b23" class="botao">?</button>
                <button id="b24" class="botao">!</button>
                <button id="b25" class="botao">@</button>
                <button id="b46" class="botao">^</button>
                <button id="b47" class="botao">OK</button>
                <button id="b48" class="botao">DEL</button>
                <button id="b49" class="botao">ESP</button>
                <button id="b50" class="botao">ENT</button>
           </div>
         </div>
         </div>
     </div>
         <div id='copyright'> © Todos os direitos reservados</div>  
    </body>
</html>
